<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css">
    <style>
        form{
            width:270px;
        }
        input{
            width: 70%;
            background: #eee;
        }
        input:focus{
            background: #fff;
        }
        form{
            padding: 0 12px 12px;
        }
        label{
            display: block;
            padding-bottom:12px;
        }
        .label-text{
            width: 30%;
            float: left;
        }

    </style>
</head>
<body>
<div id="app">
    <div id="header">
        <div style="float: right;padding-top: 24px">2009/11/20</div>
        <h1>旅游信息管理系统</h1>
    </div>
    <div id="header-bar"></div>
    <div id="content" style="height: 360px">
        <img src="../img/timg.jpg" style="float: right;height: 320px">
        <h2>修改省份</h2>
        <form action="provincelist.html" method="post">
            <label>
                <div class="label-text">省&emsp;份：</div>
                <input type="text" v-model="province.name">
            </label>
            <label>
                <div class="label-text">标&emsp;签：</div>
                <input type="text" v-model="province.tags">
            </label>
            <button type="button" @click=updateProvince(province)>提 交</button>&emsp;
            <a href="provincelist.html">返回</a>
        </form>
    </div>
    <div id="footer">
        ABC@126.com
    </div>
</div>
</body>
</html>

<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data:{
            province:{},
            id:""
        },
        methods:{
            findOneProvince(id){
                axios.post("http://localhost:8889/province/findById?id="+id)
                .then(res => {
                    console.log(res)
                    this.province = res.data.data;
                })
                .catch(err => {
                    console.error(err); 
                })
            },
            updateProvince(province){
                axios.post("http://localhost:8889/province/updateProvince",province)
                .then(res => {
                    console.log(res)
                    if(res.data.state){
                        alert("success");
                        location.href="./provincelist.html";
                    }
                })
                .catch(err => {
                    console.error(err); 
                })
            }
        },
        created(){
            this.id = location.href.substring(location.href.indexOf("=") +1);
            this.findOneProvince(this.id);
        }
        });



</script>